html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.wrapper {
    width: 568px;
    height: 481px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.btn {
    display: block;
    margin: 0 auto;
    width: 568px;
    height: 86px;
    padding: 30px;
    color: white;
    background-color: rgba(118, 99, 87, 1);

    text-transform: uppercase;
    font-family: PT Sans;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    cursor: pointer;
    transition: .3s all;
}

.btn:hover {
    background-color: rgba(96, 78, 67, 1);
    color: white;
}

.btn:active {
    background-color: rgba(80, 62, 51, 1);

    color: rgba(255, 255, 255, 0.3);


}

.popup {
    display: block;
    width: 568px;

    border: 1px solid;

    text-transform: uppercase;
    font-family: arial;
    color: black;
    
    position: absolute;

    /*    transform: translate(-50%);*/
    top: -999px;
    transition: .5s all linear;
    background-color: burlywood;

}

.popup input {
    border: 0;
    outline: none;
}

<input type="date">
::-webkit-datetime-edit {
    
    padding: ; }

::-webkit-datetime-edit-fields-wrapper {
    width: 100%;
    height: 100%;
    padding: 12px;
     }

::-webkit-datetime-edit-text {
}

::-webkit-datetime-edit-month-field { 
    
    
    
}

::-webkit-datetime-edit-day-field {
    color: green; }

::-webkit-datetime-edit-year-field {
    color: purple; }

::-webkit-inner-spin-button { display: none; }

::-webkit-calendar-picker-indicator {
    
    background-image: url("../img/calendar.svg"); }

.date_of_arrival, .date_of_departure, .visitors{
    padding: 30px 55px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: PT Sans;
    font-size: 14px;
    line-height: px;
    
}

.date_of_arrival_input{
    width: 346px;
    height: 38px;
    margin: 0;
    background-color: rgba(242, 242, 24, 1);

}

.visitors_input{
    width: 114px;
    height: 38px;
    display: flex;
}

   

   
.mature{display: flex;
}

.children{
    display: flex;
}
.submit {
    width: 458px;
    height: 58px;
    margin: 55px;
    color: white;
    background-color: rgba(129, 179, 210, 1);
    cursor: pointer;

}

#callback {
    display: none;
}

#callback:checked ~ .popup {
    top: 86px;
}

.close {
    display: block;
    position: absolute;
    transform: rotate(45deg);
    font-size: 24px;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
