:root {
    padding: 0;
    min-width: 1200px;
    background-color: var(--basic-white);
    color: var(--basic-black);
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    font-family: "PT Sans", sans-serif;
    line-height: 21px;

    --basic-black: rgba(0, 0, 0, 1);
    --basic-Light-Blue: #81b3d2;
    --basic-dark-brown: #333333;
    --basic-gray: #eeeeee;
    --basic-light-brown: #766357;
    --basic-white: #ffffff;
    --special: #f2f2f2;
}

h1,
h2,
h3 {
    margin: 0;
    font-weight: bold;
}

h2 {
    font-size: 21px;
}

a {
    color: var(--basic-black);
    text-decoration: none;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

.page {
    height: 100%;
}

.page_body {
    min-height: 100%;
    background: #F2F2F2;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    background: #fff;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2), 0 00 40px rgba(0, 1, 1, 0.2);

}



.main_header {
    height: 56px;
}

.main_navigation {
    padding: 0 72px;
    position: relative;

}

.main_header_logo {
    top: 0;
    margin-left: -70px;
    display: inline-flex;
    position: absolute;
}

.navigation_list {
    display: flex;
    flex-wrap: wrap;
}

.navigation_item {
    width: 25%;
    padding: 18px 0;
}

.navigation_item:nth-child(4n-3) {
    text-align-last: left;
}

.navigation_item:nth-child(4n-2) {
    text-align-last: left;
}

.navigation_item:nth-child(4n-1) {
    text-align-last: right;
}

.navigation_item:nth-child(4n) {
    text-align-last: right;
}

.navigation_item:hover {
    color: #81B3D2;
}

.navigation_item:active {
    color: #000000;
    opacity: 0.3;
}

.item_active {
    color: #766357;
}

.banner {
    width: 1200px;
    height: 509px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url("../img/background_photo.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    height: 216px;
}

.mask {
    width: 1200px;
    height: 272px;
    margin-top: -56px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("../img/group-1.svg");

}

.mask h2 {
    margin: 0;
    padding-top: 98px;
}

.mask p {
    margin: 0;
    padding-bottom: 51px;

}

.features_blue {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--basic-white);
    background-color: var(--basic-Light-Blue);

}

.features_blue_item {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;

}

.services {
    padding: 55px 65px 82px 73px;

}

.services_list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.services_ .services_item h2 {
    margin: 0;
    padding-top: 30px;
}

.services_item p {
    margin: 0;
    padding-top: 25px;

}

.features_gray {
    padding: 47px 77px 54px 96px;
    background: #EEEEEE;
}

.gray {
    padding: 0;
}

.gray h2 {
    padding: 0;
}

.title2 {
    height: 205px;
    display: flex;
    flex-direction: column;
}

.title2 h2 {
    padding: 58px 0 47px 0;
    font-size: 30px;
}

.title2 p {
    margin: 0;
    line-height: 24px
}

.map {
    margin: 0;
    margin-top: 86px;
}

/* CSS подвал*/

.main_footer {
    margin-top: -120px;
}

.page_footer {
    width: 1200px;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);

}

.footer_inner {
    margin: 0
}

.contacts {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 21px;
}

.contact_text {
    margin: 0;
    padding-bottom: 10px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_menu {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.social_item {
    width: 46px;
    height: 48px;
    margin: 0 6px;
    display: flex;
}

.social_link {
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(129, 179, 210, 1);
}

.twitter {
    background-image: url("../img/twitter.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.twitter:hover {
    background: #669EC0;
    background-image: url("../img/twitter.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.twitter:active {
    background-image: url("../img/twitter1.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.facebook {
    background-image: url("../img/facebook.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.facebook:hover {
    background: #669EC0;
    background-image: url("../img/facebook.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.facebook:active {
    background-image: url("../img/facebook1.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.youtube {
    background-image: url("../img/youtube.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.youtube:hover {
    background: #669EC0;
    background-image: url("../img/youtube.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.youtube:active {
    background-image: url("../img/youtube1.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.html_logo {
    width: 115px;
    height: 41px;
    margin: 0;
    margin-left: 8px;
    background: transparent;
    background-image: url("../img/shape.svg");
    background-repeat: no-repeat;
}

.html_logo:hover {
    background-image: url(../img/shape1.svg);
}

.html_logo:active {
    background-image: url(../img/shape2.svg);
}



/** css для формы поиска*/

.hotels {
    width: 1200px;
    height: 86px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 99;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;

}

.search_hotels {
    width: 568px;
}

.choice {
    width: 458px;
    height: 172px;
    padding: 55px 55px 0 55px;
    display: flex;
    flex-direction: column;
    background: var(--basic-white);
}

.date_of_arrival {
    height: 38px;
    display: flex;
    align-content: center;
}

.date_text {
    display: flex;
    flex: 1;
    align-items: center;
    justify-items: flex-start;
}

.date1 {
    width: 343px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2;
}

.date1 p {
    padding-left: 14px;
}

.calendar {
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.date_of_departure {
    height: 38px;
    margin-top: 30px;
    display: flex;
    align-content: center;
}

.date2 {
    width: 343px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2;
}

.date2 p {
    margin-left: 14px;
}

.mature_children {
    height: 38px;
    margin-top: 30px;
    display: flex;
    align-content: center;
}

.mature {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: space-between;
}

.mature_children_text {
    display: flex;
    flex: 1;
    align-items: center;
    justify-items: flex-start;
}

.children {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.children p {
    padding-left: 53px;
}

.counter {
    width: 114px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-items: space-between;
    background: #F2F2F2;
}

.search_button {
    width: 100%;
    height: 86px;
    border: none;
    border: none;
    outline: 0;
    background: #766357;
}

.search_item {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    align-items: center;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-white);

}

.search_button:hover {
    background: #604E43;
}

.search_button:active {
    background: #503E33;
}

.search_item:active {
    opacity: 0.3;
}

.find {
    height: 167px;
    display: grid;
    align-content: center;
    justify-content: center;
    background: var(--basic-white);
}

.find_button {
    width: 458px;
    height: 58px;
    border: none;
    outline: 0;
    background: #81B3D2;
}

.find_item {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    align-items: center;
    font-style: normal;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-white);

}

.find_button:hover {
    background: #669EC0
}

.find_button:active .find_item:active {
    background: #5496BD;
    opacity: 0.3;
}


/* Страница каталога */

.conditions {
    width: 1200px;
    height: 217px;
    color: white;
    background-image: url("../img/background1.jpg");
}

.conditions_wrapper {
    height: 157px;
    padding: 26px 73px 32px;
}

.conditions_infrastructure {
    height: inherit;
    display: grid;
    grid-template-columns: 255px 1fr 230px;
}

.condition_list {
    display: flex;
}

.condition_list h3 {
    display: flex;
}

/*Checkbox*/
.condition_item {
    display: flex;
    position: relative;
}

.conditions_box {
    height: 110px;
    padding-top: 24px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.checkbox_input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox_label {
    padding-left: 38px;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.checkbox_label:before {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    display: block;
    content: "";
    border: 2px solid #fff;
    border-radius: 4px;
    background-color: transparent;
}

.checkbox_label:after {
    width: 23px;
    height: 18px;
    bottom: 1px;
    left: 4px;
    position: absolute;
    z-index: 2;
    display: block;
    content: "";
    background-image: url("../img/check.svg");
    background-size: 23px 18px;
    opacity: 0;
}

.checkbox_input:checked + .checkbox_label:after {
    opacity: 1;
}

.cost_title {
    display: flex;
}

.cost_title h3 {
    margin: 0;
}

.cost_view {
    width: 224px;
    height: 32px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 2px;

}

.min_cost {
    border-right: 2px solid #fff;
}

.cost_select {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: flex-end;
}

.cost_range {
    width: 230px;
    padding-bottom: 27px;
}

#fader {
    width: 220px;
    height: 2px;
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: #fff;
}

#fader::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    border-radius: 50%;
    background: #fff;
    background-image: url("../img/filter-button.svg");
}

#fader::-webkit-slider-thumb:hover {
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    border-radius: 50%;
    background: #fff;
    background-image: url("../img/filter-button2.png");
}

.show_hotels {
    display: flex;
    justify-content: center;
}

.show_button {
    width: 133px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    border-width: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 2px;

}

.show_button:hover {
    color: black;
    border-color: white;
    border-radius: 2px;
    background-color: white;
}

.found_hotels {
    padding: 30px 73px;
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: #E5E5E5;
    border-top: none;
}

.found_title {
    width: 135px;
    height: min-content;
    display: flex;
    align-items: center;
}

.found_title h2 {
    margin: 0;
}

.found_list {
    height: min-content;
    margin-left: 30px;
    display: flex;
    line-height: 18px;
}

.found_list a {
    margin: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
}

.found_list p {
    margin: 0;
    font-size: 12px;
}

.found_items {
    margin-left: 40px;
    height: min-content;
    display: flex;
    align-items: center;
}

.found_items a {
    padding-right: 32px;
    color: rgba(0, 0, 0, 0.3);
}

.found_items a:hover {
    color: #81B3D2;
    text-decoration: underline;
}

.found_items a:focus {
    border: none;
    outline: none;
    color: #81B3D2;
}

.found_items a:active {
    color: #000000;
}

.scrolling {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: flex-end;
}

.arrow_up {
    width: 11px;
    height: 11px;
    padding-right: 12px;
    background-image: url("../img/arrows/arrow_up.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.arrow_down {
    width: 11px;
    height: 11px;
    background-image: url("../img/arrows/arrow_down.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.arrow_up:hover {
    width: 11px;
    height: 11px;
    padding-right: 12px;
    background-image: url("../img/arrows/arrow_up_hover.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.arrow_up:active {
    width: 11px;
    height: 11px;
    padding-right: 12px;
    background-image: url("../img/arrows/arrow_up_active.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.arrow_up:focus {
    width: 11px;
    height: 11px;
    padding-right: 12px;
    background-image: url("../img/arrows/arrow_up_active.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.arrow_down:hover {
    width: 11px;
    height: 11px;
    background-image: url("../img/arrows/arrow_down_hover.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.arrow_down:active {
    width: 11px;
    height: 11px;
    background-image: url("../img/arrows/arrow_down_active.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.arrow_down:focus {
    width: 11px;
    height: 11px;
    background-image: url("../img/arrows/arrow_down_active.svg");
    background-repeat: no-repeat;
    cursor: pointer;
}

.card_hotels {
    padding: 30px 73px;
    display: flex;
    border-width: 1px;
    border-style: solid;
    border-color: #E5E5E5;
    border-top: none;
}

.card_list {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name:hover {
    color: #81B3D2;
}

.name:active {
    color: rgba(0, 0, 0, 0.3);
}

.card_hotels h2 {
    margin: 0;
    display: flex;
}

.card_hotels p {
    margin: 0;
    display: flex;
}

.card_list_item {
    display: flex;
}

.card_list_info {
    width: 110px;
}

.card_list_price {
    width: 142px;
    padding-left: 6px;
}

.detailed_button {
    height: 27px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #81B3D2;

}

.detailed_button:hover {
    background: #669EC0;
}

.detailed_button:active {
    background: #5496BD;
    color: rgba(255, 255, 255, 0.3)
}

.reserve_button {
    height: 27px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #766357;
}

.reserve_button:hover {
    background: #604E43;
}

.reserve_button:active {
    color: rgba(255, 255, 255, 0.3);
    background: #503E33;
}

.card_reating {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.stars {
    width: 110px;
    height: 23px;
    background-image: url("../img/star.svg");
    background-repeat: space;
}

.amara {
    width: 80px;
}

.desert {
    width: 60px;
}

.villas {
    width: 40px;
}

.ball_reating {
    width: 110px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    background-color: #F2F2F2;

}
