:root {
    --basic-black: #000000;
    --basic-Light-Blue: #81b3d2;
    --basic-dark-brown: #333333;
    --basic-gray: #eeeeee;
    --basic-light-brown: #766357;
    --basic-white: #ffffff;
    --special: #f2f2f2;
    min-width: 1200px;
    padding: 0;
    font-family: "PT Sans", "sans-serif";
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--basic-white);
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

h1,
h2,
h3 {
    font-weight: bold;
}

h2 {
    font-size: 21px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-header {
    margin: 0;
}

.main-navigation {
    height: 56px;
    display: flex;
    justify-content: center;
}

.main-header-logo {
    margin: 0;
    width: 138px;
    overflow: visible;
    z-index: 1;
}

.navigation_list_1 {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
}

.navigation_list_2 {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.banner {
    width: 1200px;
    height: 509px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url("../img/background_photo.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: linear-gradient()
}

.title {
    outline: 5px solid rgba(231, 75, 36, 0.74);
    outline-offset: -5px;
    display: grid;
    grid-template: 1fr;
    align-items: center;
    justify-content: center;
    height: 216px;
}

.features-blue {
    outline: 5px solid rgba(70, 4, 70, 0.74);
    outline-offset: -5px;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 256px;
    background-color: var(--basic-Light-Blue);
    color: var(--basic-white);
    align-items: center;
}

.features-blue-item {}

.two {
    grid-template-columns: 2fr 1fr;
}

.services {
    outline: 5px solid rgba(26, 211, 109, 0.74);
    outline-offset: -5px;
    height: 330px;
}

.services-list {
    margin: 0;
    padding: 60px;
    list-style: none;
    align-items: center;
}

.services-item {
    display: inline-block;
    width: 33%;
}

.features-gray {
    outline: 5px solid rgba(238, 2, 2, 0.74);
    outline-offset: -5px;
    height: 256px;
    margin: 0;
    background-color: var(--basic-gray);
}

.features-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 0;
    display: flex;
    justify-content: space-around;
}

.features-item {}

.title2 {
    margin: 0;
    padding: 0;
    height: 291px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title2 h2 {
    margin: inherit;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    align-items: center;
}

.title2 p {
    align-items: center;
    margin: inherit;
}

.map {
    outline: 5px solid rgba(8, 2, 8, 0.74);
    outline-offset: -5px;
    margin: 0;
}

.main-footer {
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
}

.page-footer {
    background-color: lawngreen;
    width: 1200px;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-social ul {
    width: 100%;
    list-style: none;
}

.social-block {
    margin: 0;
    padding: 0;
    display: flex;
}

.social-list a {
    padding-right: 8px;
}

.social-button {}

.footer-social h2 {
    font-size: 14px;
}

.link {
    display: flex;
}

.link a {
    margin: 0;
    margin-left: 8px;
}