:root {
    --basic-black: #000000;
    --basic-Light-Blue: #81b3d2;
    --basic-dark-brown: #333333;
    --basic-gray: #eeeeee;
    --basic-light-brown: #766357;
    --basic-white: #ffffff;
    --special: #f2f2f2;
    min-width: 1200px;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: var(--basic-black);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--basic-white);
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}

h1,
h2,
h3 {
    font-weight: bold;
    margin: 0;
}

h2 {
    font-size: 21px;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

.main-header {
    height: 56px;
}

.main-navigation {
    padding: 0 72px;
    position: relative;
}

.main-header-logo {
    margin-left: -70px;
    display: inline-flex;
    position: absolute;
    top: 0;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
}

.navigation-item {
    width: 25%;
    padding: 18px 0;
}

.navigation-item:nth-child(4n-3) {
    text-align-last: left;
}

.navigation-item:nth-child(4n-2) {
    text-align-last: left;
}

.navigation-item:nth-child(4n-1) {
    text-align-last: right;
}

.navigation-item:nth-child(4n) {
    text-align-last: right;
}

.navigation-item a :hover {
    color: #81B3D2;
}

.banner {
    width: 1200px;
    height: 509px;
    display: grid;
    align-items: center;
    justify-content: center;
    background-image: url("../img/background_photo.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.title {
    margin: 0 auto;
    height: 216px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.features-blue {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 256px;
    background-color: var(--basic-Light-Blue);
    color: var(--basic-white);
    align-items: center;
}

.features-blue-item {}

.two {
    grid-template-columns: 2fr 1fr;
}

.services {
    height: 330px;
}

.services-list {
    margin: 0;
    padding: 60px;
    list-style: none;

}

.services-item {
    display: inline-block;
    width: 33%;
}

.features-gray {
    height: 256px;
    margin: 0;
    background-color: var(--basic-gray);
}

.features-list {
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.features-item {
    align-items: center;
}

.title2 {
    height: 205px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title2 h2 {
    font-size: 30px;
}

.map {
    margin: 0;
    margin-top: 86px;
}

.main-footer {
    margin-top: -120px;
}

.page-footer {
    width: 1200px;
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
}

.footer-inner {
    margin: 0
}

.contacts {
    margin: 0;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-text {
    padding-bottom: 10px;
    margin: 0;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
    width: 46px;
    height: 48px;
    background: rgba(129, 179, 210, 1);
}

.social-item:hover {
    background: #669EC0;
}

.social-item:active {
    background: #5496BD;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.html-logo {
    margin: 0;
    width: 115px;
    height: 41px;
    background: transparent;
    margin-left: 8px;
    background-image: url("../img/shape.svg");
    background-repeat: no-repeat;
}

.html-logo:hover {
    background-image: #81B3D2;
}


/** css для формы поиска*/

.hotels {
    width: 1200px;
    height: 86px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    position: absolute;
    z-index: 99;
}

.search-hotels {
    width: 568px;
}

.choice {
    width: 458px;
    height: 172px;
    padding: 55px 55px 0 55px;
    display: flex;
    flex-direction: column;
    background: var(--basic-white);
}

.date-of-arrival {
    display: flex;
    align-content: center;
    height: 38px;
}

.date-text {
    display: flex;
    flex: 1;
    align-items: center;
    justify-items: flex-start;
}

.date1 {
    width: 343px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F2;
}

.date1 p {
    padding-left: 14px;
}

.calendar {
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.date-of-departure {
    margin-top: 30px;
    height: 38px;
    display: flex;
    align-content: center;
}

.date2 {
    width: 343px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F2F2F2;
}

.date2 p {
    margin-left: 14px;
}

.mature-children {
    margin-top: 30px;
    height: 38px;
    display: flex;
    align-content: center;
}

.mature {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: space-between;
}

.mature-children-text {
    display: flex;
    flex: 1;
    align-items: center;
    justify-items: flex-start;
}

.children {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.children p {
    padding-left: 53px;
}

.counter {
    width: 114px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-items: space-between;
    background: #F2F2F2;
}

.search-button {
    width: 100%;
    height: 86px;
    background: #766357;
    border: none;
    outline: 0;
    border: none;
}

.search-item {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    align-items: center;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-white);
}

.search-button:hover {
    background: #604E43;
}

.search-button:active {
    background: #503E33;
}

.search-item:active {
    opacity: 0.3;
}

.find {
    height: 167px;
    display: grid;
    align-content: center;
    justify-content: center;
    background: var(--basic-white);
}

.find-button {
    border: none;
    width: 458px;
    height: 58px;
    background: #81B3D2;
    outline: 0;
}

.find-item {
    width: 100%;
    height: 100%;
    margin: 0;
    font-style: normal;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-white);
    display: grid;
    align-items: center;
}

.find-button:hover {
    background: #669EC0
}

.find-button:active .find-item:active {
    background: #5496BD;
    opacity: 0.3;
}


/* Страница каталога */

.conditions {
    width: 1200px;
    height: 217px;
    color: white;
    background-image: url("../img/background1.jpg");
}

.conditions-wrapper {
    height: 157px;
    padding: 26px 73px 32px;
}

.conditions-infrastructure {
    height: inherit;
    display: grid;
    grid-template-columns: 255px 1fr 230px;



}

.condition-list {
    display: flex;
}

.condition-list h3 {
    display: flex;
}

/*Checkbox*/
.condition-item {
    display: flex;
    position: relative;
}

.conditions-box {
    height: 110px;
    padding-top: 24px;
    padding-right: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.checkbox-input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;

}

.checkbox-label {
    padding-left: 38px;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.checkbox-label:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    background-color: transparent;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox-label:after {
    content: "";
    display: block;
    width: 23px;
    height: 18px;
    background-image: url("../img/check.svg");
    background-size: 23px 18px;


    opacity: 0;
    position: absolute;
    bottom: 1px;
    left: 4px;
    z-index: 2;

}

.checkbox-input:checked + .checkbox-label:after {
    opacity: 1;
}

.cost-title {
    display: flex;
}

.cost-title h3 {
    margin: 0;
}

.cost-view {
    width: 224px;
    height: 32px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
}

.min-cost {

    border-right: 2px solid #fff;
}

.max-cost {}

.cost-select {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: flex-end;

}

.cost-range {
    width: 230px;
    padding-bottom: 27px;
}

#fader {
    position: relative;
    width: 220px;
    height: 2px;
    background: #fff;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
}

#fader::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    background-image: url("../img/filter-button.svg");
}

#fader::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #fff;
    background-image: url("../img/filter-button2.png");
}

.show-hotels {
    display: flex;
    justify-content: center;
}

.show-button {
    width: 133px;
    height: 32px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    border-radius: 2px;
    color: white;
}

.show-button:hover {
    color: black
}

.show-button:hover {
    border-color: white;
    border-radius: 2px;
    background-color: white;
}

.found-hotels {
    padding: 30px 73px;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-color: #E5E5E5;
    display: flex;
}

.found-title {
    height: min-content;
    display: flex;
    align-items: center;
    width: 135px;
}

.found-title h2 {
    margin: 0;
}

.found-list {
    height: min-content;
    display: flex;
    margin-left: 30px;
    line-height: 18px;
}

.found-list a {
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
}

.found-list p {
    margin: 0;
    font-size: 12px;

}

.found-items {
    height: min-content;
    margin-left: 40px;
    display: flex;
    align-items: center;
}

.found-items a {
    padding-right: 32px;
    color: rgba(0, 0, 0, 0.3);

}

.found-items a:hover {
    color: #81B3D2;
    text-decoration: underline;
}

.found-items a:focus {
    color: #81B3D2;
    border: none;
    outline: none;

}

.found-items a:active {
    color: #000000;
}

.scrolling {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.arrow {
    font-size: 15px;
    border: none;
    outline: 0;
    background-color: transparent;
    color: rgba(202, 202, 202, 1);
    cursor: pointer;
}

.arrow:hover {
    color: rgba(0, 0, 0, 1);
}

.arrow:active {
    color: rgba(129, 179, 210, 1);
}

.arrow:focus {
    color: rgba(129, 179, 210, 1);
}

.card-hotels {
    display: flex;
    padding: 30px 73px;
    border-style: solid;
    border-width: 1px;
    border-top: none;
    border-color: #E5E5E5;
}

.card-list {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name:hover {
    color: #81B3D2;
}

.name:active {
    color: rgba(0, 0, 0, 0.3);

}

.card-hotels h2 {
    margin: 0;
    display: flex;
}

.card-hotels p {
    margin: 0;
    display: flex;
}

.card-list-item {
    display: flex;
}

.card-list-info {
    width: 110px;
    height:
}

.card-list-price {
    width: 142px;
    padding-left: 6px;
}

.detailed-button {
    height: 27px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81B3D2;
    color: #FFFFFF;
    font-weight: 700;
}

.detailed-button:hover {
    background: #669EC0;

}

.detailed-button:active {
    background: #5496BD;
    color: rgba(255, 255, 255, 0.3)
}

.reserve-button {
    height: 27px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #766357;
    color: #FFFFFF;
    font-weight: 700;
}

.reserve-button:hover {
    background: #604E43;
}

.reserve-button:active {
    background: #503E33;
    color: rgba(255, 255, 255, 0.3);

}

.card-reating {

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.stars {
    width: 110px;
    font-size: 23px;
    text-align: right;
    color: rgba(129, 179, 210, 1);
}

.ball-reating {
    width: 110px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5496bd;
    color: #666666;
}
